{% extends "layouts/base.njk" %}

{% block content %}
<h1>{{ product.title }}</h1>
<img src="../img/catalog_cards/{{ product.img }}.jpg" alt="{{ product.title }}">
<p>{{ product.description }}</p>
<p>Price: {{ product.price }}</p>
{% endblock %}
