.cardpage {
  margin: 80px;

  &__cont {
    display: flex;
    gap: 50px;

    & img {
      width: 360px;
    }
  }

  &__tovar_inf {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: 500;
  }

  &__title {
    font-size: 32px;
  }

  &__price {
    font-size: 22px;
  }

  &__btn {
    background-color: #342931;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px;
    width: 300px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 20px;
    font-weight: 500;
  }

  @media (hover:hover) {
    &__btn:hover {
      opacity: 0.6;
    }
  }

  @media (hover:none) {
    &__btn:active {
      opacity: 1;
    }
  }

  &__disc {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h1 {
      font-size: 28px;
      font-weight: bold;
    }

    & p {
      font-size: 19px;
      width: 1117px;
      line-height: 1.5em;
      max-width: 100%;
    }
  }

  &__more_link {
    margin: 30px auto 20px auto;
    font-size: 25px;
    position: relative;
    text-decoration: none;
    color: inherit;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -6px; // Подчеркивание немного ниже текста
      height: 2px; // Высота подчеркивания
      width: 0;
      background-color: #cf84a5; // Цвет подчеркивания
      // Цвет подчеркивания будет таким же, как и цвет текста
      transition: width 0.3s ease; // Время и стиль анимации
    }

    &:hover:after {
      width: 16.3%;
    }
  }
}

@media (max-width: 851px) {
  .cardpage__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cardpage__disc p {
    width: auto;
  }
}

@media (max-width: 777px) {

    .cardpage__cont {
        flex-direction: column;
        // align-items: center;
    }

    .cardpage__btn  {
        width: 100%;
    }

    .cardpage__disc {
        align-items: center;

    }

    .cardpage__disc p {
        text-align: center;
    }
}
