.cardpage {
  margin: 80px;

  &__cont {
    display: flex;
    gap: 50px;

    & img {
      width: 360px;
    }
  }

  &__tovar_inf {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: 500;
  }

  &__title {
    font-size: 32px;
  }

  &__price {
    font-size: 22px;
  }

  &__btn {
    background-color: #342931;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px;
    width: 300px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 20px;
    font-weight: 500;

    &:hover {
      opacity: 0.6;
    }
  }

  &__disc {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & h1 {
      font-size: 28px;
      font-weight: bold;
    }

    & p {
        font-size: 19px;
        width: 1117px;
        line-height: 1.5em;
    }
  }
}
