.catalog {
  &__title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
  }

  &__input {
    width: 300px;
    margin-top: 20px;
    padding: 8px 0px 8px 16px;
    border-radius: 16px;
    background-color: #31262E;
    border: none;
    color: white;

    &::placeholder {
        color: white;
        font-size: 14px;
    }
  }
}
