.card_catalogs {
  margin-top: 100px;
}

.title_catalog {
  font-size: 30px;
  font-weight: bold;
}

.search {
    margin-top: 20px;
    width: 280px;

  &_input {
    border-radius: 16px;
    background-color: #31262e;
    border: none;
    padding: 8px 0px 8px 20px;
    width: 100%;
    color: white;

    &::placeholder {
      font-size: 14px;
      color: white;
    }
  }
}
