.footer {
	background-color: #161215;
	padding: 20px;
}

.foot_cont {
	display: flex;
	align-items: center;
	justify-content: space-between;


}


.foot_nav {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.foot_nav_list {
	display: flex;
	gap: 10px;

	.foot_nav_item {
		font-size: 19px;
		font-weight: 400;
	}
}

.socials_block {
	display: flex;
	flex-direction: column;
	gap: 10px;

	& a {
		font-size: 19px;
	}

	.soc_icons {
		display: flex;
		gap: 10px;
	}
}


@media (max-width: 450px) {
	.foot_cont {
		flex-direction: column;
		justify-content: center;
	}

	.socials_block {
		align-items: center;
		gap: 25px;
	}
}