.header__cl {
    background-color: #161215;
    padding: 10px;
}

._header_cont {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.logo_block {
    display: flex;
    align-items: center;
}

.logo_text {
    font-size: 25px;
    font-weight: bold;
}

.head_nav_list {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.head_nav_item {
    position: relative;
    display: inline-block;
    padding-bottom: 5px; // Установите желаемую толщину подчеркивания
  
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px; // Установите желаемую толщину подчеркивания
      background-color: #CF84A5; // Цвет подчеркивания
      transition: width 0.3s ease; // Время и стиль анимации
    }
  
    &:hover:after {
      width: 100%; // Ширина подчеркивания при наведении
    }
  }



  @media (max-width: 983px) {
    .head_nav_list {
        display: none;
    } 

    .burger_menu {
        display: block;
    }
  }
  

  