.promo_sec_image {
  height: 730px;
  background-repeat: no-repeat;
  
  
}

.promo_sec_image_img {
  max-height: 100%;
}

.second_promo {
  justify-content: space-between;
  display: flex;

  .promo_sec_textblock {
    padding: 0px 50px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 31px;
    width: 494px;

    .promo_sec_text {
      font-size: 50px;
      font-weight: 500;
      max-height: 100%;
    }

    .promo_sec_disc {
      font-weight: 100;
      font-size: 20px;
    }
  }
}









@media (max-width: 1217px) {
   .promo_sec_image {
    height: 430px;
   }

}

@media (max-width: 904px) {
  .promo_sec_image {
   display: none;
  }

  .second_promo .promo_sec_textblock {
  width: auto;
}

}


@media (max-width: 989px) {
  .promo_sec_image {
   height: 330px;
  }

}


